/robots/dinoV1_weights/dino_vitbase16_pretrain.pth
*.pth
*.ipynb_checkpoints
*.out
.ipynb_checkpoints
# editor settings
.idea
.vscode
_darcs
__pycache__
*__pycache__

_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
.slurm-output

/datasets/*
!/datasets/*.sh
